@import url('https://rsms.me/inter/inter.css');

:root {
  --sn-stylekit-sans-serif-font: 'Inter var', -apple-system, san-serif;
}

body {
  font-family: 'Inter var',  -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "onum","kern","liga","clig","calt";
  -webkit-text-size-adjust: none;
}